# ----- dirs -----
dataset-cleaned/
dataset/
dataset-lmao/
logs/
notes/
storage_folders/
clean_dataset/
__pycache__

# ----- files -----
dataset-base.zip
backup-best.zip
tf-osteo.zip
clean_dataset.tar
train_test_split.py